@import "tailwindcss";

body {
    background-color: #E4E7F0;

}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}

.dot.playing {
    animation: bounce 0.6s infinite;
    background-color: #F76300;
    /* Change to desired color */
}